.wrapper {
  animation: scroll 70s linear infinite;
  background: url("https://images.unsplash.com/photo-1531436107035-40b2e85b7a1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"),
    #1ae300;
    background-color: black;
  color: rgb(230, 216, 216);
  height: 100vh;
  /* min-width: 360px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  /* perspective: 1000px;
  perspective-origin: 50% 50%; */
}

/* @keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
} */

/* @media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
} */
